// Font family
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

$font-color: rgb(67, 172, 217);
$orange-color: #FFC371;
$dark-blue: #111D28;
$cream-color: #FFFBD5;
$light-blue: #3A6186;
$pink: #FF5F6D;
$dark-red: #89253E;
$light-green: #78E08F;



// Font sizes
$h1-font-size: 2.4rem;
$h2-font-size: 1.8rem;
$h3-font-size: 1.6rem;
$parragraph-font-size: 1.4rem;
$btn-font-size: 1.4rem;


// Font weights
$h1-weight: 700;
$h2-weight: 400;
$h3-weight: 400;
$parragraph-weight: 300;
$btn-weight: 200;


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: $cream-color;
}

// Reemplazar este boton por el de "search"

.search-icon
{
    stroke: $orange-color;
}

.btn-recipies
{
    background-color: $dark-blue;
    border: 3px solid $orange-color;
    border-radius: 50%;
    padding: 0.3rem 0.8rem;
}

.recipies{
    width: 70%;
    margin: auto;
    text-align: center;
    #results{
        margin-top: 2rem;
        font-weight: lighter;
        color: $light-blue;
        font-size: 1.2rem;
    }
    #search{
        margin-bottom: 3rem;
        margin-top: 1rem;
        font-weight: lighter;
        color: $light-blue;
        font-size: 1.2rem;
    }
    strong{
        color: #000;
        font-weight: lighter;
    }
    .recipieContainer{
        display: grid;
        grid-template-columns: repeat(3,.8fr);
        gap: 2rem;
        .recipie{
            border: 3px solid $pink;
            border-radius: 1rem;
            background-color: #fff;
            text-align: left;
            box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.75);
            -webkit-box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 5px 14px -5px rgba(0,0,0,0.75);
            img{
                border-radius: 1rem 1rem 0 0;
                width: 100%;
            }
            h3{
                color: $dark-red;
                text-align: left;
                padding: .3rem 2rem;
                font-weight: normal;
                font-size: 1.4rem;
            }
            p{
                padding: .3rem 2rem;
                color: #808080;
                margin-top: .2rem;
                margin-bottom: 0;
            }
            .cat1{
                background-color: $pink;
                color: #fff;
                border-radius: 1rem;
                padding: .05rem 1rem;
                margin: .3rem .5rem .3rem 2rem;
                font-size: .8rem;
            }
            .cat2{
                background-color: $dark-blue;
                color: #fff;
                border-radius: 1rem;
                padding: .05rem 1rem;
                font-size: .8rem;
            }
            .cat3{
                background-color: $light-green;
                color: #fff;
                border-radius: 1rem;
                padding: .05rem 1rem;
                font-size: .8rem;
            }
            .cat4{
                background-color: $orange-color;
                color: #fff;
                border-radius: 1rem;
                padding: .05rem 1rem;
                font-size: .8rem;
            }
            .contenedor{
                margin-top: 0;
                display: flex;
                justify-content: flex-end;
                position: relative;
                left: 1rem;
                top: 1rem;
            }
            .contenedorBoton{
                display: flex;
                justify-content: center;
                width: 7%;
                background: linear-gradient(0,$pink,$orange-color);
                padding: .3rem 1.5rem;
                border-radius: 50%;
            }
            a{
                display: block;
                color: #fff;
                font-size: 2rem;
                text-decoration: none;
            }
        }
    }
}
.contenedor{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}
.contenedorBoton{
    display: flex;
    justify-content: center;
    background: linear-gradient(0,$orange-color,$pink);
    padding: .5rem 1.2rem;
    border-radius: 50%;
}
a{
    display: block;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}
.backToTop{
    display: block;
    margin: .8rem auto 3rem auto;
    color: $pink;
    font-size: 1.2rem;
}
// add media queries for responsiveness
@media (max-width: 768px)
{
    .first-section
    {
        width: 100%;
    }
    .btn-header
    {
        font-size: 1.2rem;
    }
    .main-title
    {
        font-size: 1.8rem;
    }
    .click-counter
    {
        font-size: 1.8rem;
    }

    .click-button
    {
        width: 200px;
    }

    .click-buttons-container
    {
        gap: .5rem;
    }
    .hero-icon
    {
        width: 100px;
        height: 100px;
    }
}

// add media queries for medium screens
@media (min-width: 768px) and (max-width: 1024px)
{
    .first-section
    {
        width: 100%;
    }
    .btn-header
    {
        font-size: 1.2rem;
    }
    .main-title
    {
        font-size: 1.8rem;
    }
    .click-counter
    {
        font-size: 1.8rem;
    }
    .click-button
    {
        width: 200px;
    }
    .click-buttons-container
    {
        gap: .5rem;
    }
    .hero-icon
    {
        width: 100px;
        height: 100px;
    }
}


